/* Variables */
:root {
   --font-family: helvetica;
   --bg-color: #808080;
   --primary-color: #DC143C;
   --secondary-color: #000000;
   --primary-shadow: #808080;
   --secondary-shadow: #DC143C;
   --bottom-margin: 0.5rem;
   --bottom-margin-2: 1rem;
   --line-height: 1.7rem;
}
/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    background-color: #000000;
    font-weight: 700;
}

/*CSS Reset end*/

/* Nav styles*/
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0, 0.1);
}

nav h1 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 100rem;
}

nav a {
    color: var(--secondary-color);
    transition: 0.1s;
    font-size: 1.2rem;
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.hero-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.bio {
    display: block;
    width: 25rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.hero-img {
    height: 20rem;
    width: 25rem;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    margin-left: 2rem;
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}

.bio ul li {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    color: var(--primary-color);
    text-align: center;
}

.bio-title {
    color: var(--bg-color);
    text-align: center;
}

.projects-title {
    color: var(--bg-color);
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.projects {
    width: max-content;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    color: #DC143C;
}

.projects p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    color: var(--primary-color);
    text-align: center;
}

.projects-box {
    display: flex;
    justify-content: end;
    justify-content: space-around;
    margin-bottom: var(--bottom-margin);
}

.contact {
    width: max-content;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    color: var(--primary-color);
}
.contact p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    color: var(--primary-color);
    text-align: center;
}

.contact-title {
    color: var(--bg-color);
    text-align: center;
    margin-bottom: var(--bottom-margin);
}

.contact a {
    color: #ffff00;
    line-height: var(--line-height);
    padding: 0.3rem 0;
    text-align:center;
}

@media screen and (max-width: 500px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 2.25rem 1rem;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 5.9rem;
    }

    nav h1 {
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        margin-left: 1.8rem;
        border-bottom: 3px solid #DC143C;
    }
    
    nav a {
        font-size: 20px;
        transition: 0.1s;
    }

    .mobile-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    .hero-img {
        width: 180px;
        height: 180px;
        align-self: flex-start;
    }

    .hero-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1.8rem;
    }

    .bio {
        width: 15rem;
        flex-direction: column;
        align-items: flex-start;
        font-size: 20px;
    }

    .bio ul li {
        text-align: center;
    }

    .hero-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 1.8rem;
    }

    .projects-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .projects {
        width: 15rem;
        font-size: 20px;
    };

    .projects-box img {
        align-self: center;
    }
    
    .contact {
        width: 14rem;
        font-size: 20px;
        margin-left: 0.5rem;
    }
}